body {
    font-family: 'Noto Sans HK', sans-serif;
    background-image: url("img/background.jpg");
    background-size: cover;
    backdrop-filter: blur(500px);
}

h1 {
    line-height: 20px;
}

.top {
    display: grid;
    margin-top: 5vh;
    margin-bottom: 5vh;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    text-align: center;
    box-shadow: 15px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}
.profile-picture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    box-shadow: 7px 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.linkhole {
    display: grid;
    height: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0%;
}

.link {
}

a:hover {
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid aquamarine;
    border-radius: 15%;
}